<article class="article-cell">
    <aside class="pull-right">
        <span>
            <%= link_to 'Edit', edit_article_path(article), class: "btn btn-default btn-xs" %>
            <%= button_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
        </span>
        <%= label_tag nil, "reply: #{article.replies.count}", class: "label label-warning" %>
        <%= label_tag nil, "read: #{article.read}", class: "label label-info" %>
    </aside>
    <header>
        <h2><%= 
            link_to_unless( is_show_replies, article.title, article ) do article.title end
            %>
        </h2>
        <p class="timestamp">
            Posted <%= time_ago_in_words(article.created_at) %> ago.
        </p>
    </header>
    <p class="article-content"><%= article.content %></p>
    <% if is_show_replies %>
        <footer>
            <%= render 'tags/tags_block', article: article %>
            <hr>
            <div>reply: <%= article.replies.count %></div>
            <%= render 'replies/replies_block', article: article %>
        </footer>
    <% end %>
    
</article>