<article class="article-cell">
    <aside class="pull-right">
        <span>
            <%= link_to 'Edit', edit_article_path(article), class: "btn btn-default btn-xs" %>
            <%= button_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
        </span>
        <span class="label label-warning">reply: <%= article.replies.count %></span>
        <span class="label label-info">read: <%= article.read %></span>
    </aside>
    <header>
        <h2>
            <% if controller.action_name == 'show' %>
                <%= article.title %>
            <% else %>
                <%= link_to article.title, article %>
            <% end %>
        </h2>
        <p class="timestamp">
            Posted <%= time_ago_in_words(article.created_at) %> ago.
        </p>
    </header>
    <p class="article-content"><%= article.content %></p>
    <% if controller.action_name == 'show' %>
        <footer>
            <hr>
            <div>reply: <%= article.replies.count %></div>
            <%= render 'replies/reply_block', article: article %>
        </footer>
    <% end %>
    
</article>