<% if guest_in? %>
	<h4>
	    <% if @current_guest[:website].empty? %>
	        <%= @current_guest[:name] %>
	    <% else %>
	        <%= link_to @current_guest[:name], @current_guest[:website] %>
	    <% end %> 
	</h4>
	<%= gravatar_for @current_guest[:email], "40" %>
<% else %>
	<%= gravatar_for "", "40" %>
<% end %>
<%= form_for(reply_with_guest_data, remote: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.hidden_field :article_id, value: article.id%>
	<div class="field form-group">
		<%= f.text_field :name, placeholder: "name", class: "form-control" %>
	</div>
	<div class="field form-group">
		<%= f.text_field :email, placeholder: "email", class: "form-control" %>
	</div>
	<div class="field form-group">
		<%= f.text_field :website, placeholder: "website", class: "form-control" %>
	</div>
	<div class="field form-group">
		<%= f.text_area :content, placeholder: "content", class: "form-control" %>
	</div>
	<div class="actions form-group">
		<%= f.submit "Reply", class: "btn btn-large btn-primary" %>
	</div>
<% end %>
